@import '../../assets/sass/base';

// Loading spinner
.loader {
  &__svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
  }

  &__rect {
    fill: $font-color-tertiary;
    stroke: $font-color-primary;
  }
}
