// Breakpoints for devices

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $tablet + 1) and (max-width: $laptop) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (min-width: $laptop + 1) and (max-width: $desktop-lg) {
    @content;
  }
}

// Center a child inside parents body
@mixin centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// User card property
@mixin cardSize {
  width: 20rem;
  height: 4rem;
  border-radius: 5px 5px 0px 0px;
}
